<!-- !DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" -->
<html>
<head>      
	<script src="https://code.jquery.com/jquery-1.12.3.min.js"> </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<Script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"> </script>
	<!-- <script src=".static/SynAuth.js"> outro teste de authenticacao</script> -->
	
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
	
</head>
<div id="submitform_stylesheet">
  
<link rel="stylesheet" type="text/css" href="//img.teleportweb.com.br/css/cssBranco1.css"></div>
<body bgcolor="#3C3C3C" link="#FFFAF0" vlink="#FFFAF0" topmargin="0" leftmargin="0" onblur="GSubmitting = false;" >
  <form onsubmit="loginClickHandler(); return false;" style="display:inline;"  method="get">
	<div class="hideVisible"> </div>
    <div class="row">        
      <div class="IWREGION1CSS" id="IWREGION1" name="IWREGION1" >
	<form onsubmit="loginClickHandler(); return false;" style="display:inline;" method="get">
     <div class="FormPrincipal">  
            <section>
                <form id="telaLogin"  method="post">
                <div class="col-sm-12">
                    <div class="authform__field usuario">
                    <i class="fa fa-user fa-2x"></i>
                <input type="TEXT" name="EDUSUARIO" maxlength="45" value="" class="EDUSUARIOCSS" id="EDUSUARIO" tabindex="6" autocomplete="off"></div>
                    <div class="authform__field senha">               
               <i class="fa fa-lock fa-2x"></i>               
			   <input type="PASSWORD" name="EDSENHA" maxlength="20" class="EDSENHACSS" id="EDSENHA" tabindex="5" autocomplete="off" onload="EDSENHA_onload()" value="">                
                </div> 
               <input type="submit" class="login__submit" id="BTNBRANCOLOGIN" >iniciar
				<span class="hide">  
					<a title="Clique aqui para iniciar">
					  <img src="" name="BRANCOLOGIN" border="0" width="325" height="45" title="Clique aqui para iniciar" class="BRANCOLOGINCSS" id="BRANCOLOGIN" tabindex="0">
					</a>
				</span>
				</input>
         </form>
            </section>          
        
    </div>  
    </div>
  </FORM>
  <div id="content"></div>
<!--Autenticacao desabilitada no server -->
<script src=".static/mORMmotClient.js"></script>
<script src=".static/Default.js"></script>
</BODY>
</html>
